body{
    background-color: rgb(7, 7, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 20px;
}
.container{
    width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  clear: both;
  background-color: whitesmoke;
}
.p{
    margin-bottom: 25px;
}
nav{
    float: right;
  margin-top: 25px;
}